[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
llama-index = "*"
altair = "*"
llama-index-agent-openai-legacy = "*"
watchdog = "*"
exceptiongroup = "*"
anthropic = "*"
matplotlib = "*"
notebook = "*"
jupyter = "*"
ipykernel = "*"
numpy = "*"
plotly = "*"
importlib-resources = "*"
networkx = "*"
sympy = "*"
llama-index-experimental = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
